/* 
====
Imports
====
*/
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

/* 
====
Variabels
====
*/
:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-lightgrey: hsl(212, 45%, 89%);
  --clr-grayblue: hsl(220, 15%, 55%);
  --clr-darkblue: hsl(218, 44%, 22%);
  --font-size: 15px;
  --font-family: Outfit;
  --mobile-width: 375px;
  --desktop-width: 1440px;
  --radius: 4.5%;
}
/* 
====
global style
====
*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
}
img {
  width: 100;
  display: block;
}
a {
  text-decoration: none;
}

/* 
====
Actual styles 
====
*/
body {
  background: var(--clr-lightgrey);
}
.card-center {
  display: grid;
  place-items: center;
  min-height: 95vh;
}
.qr-card {
  margin: auto auto;
  width: 21rem;
  height: 32rem;
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.08);
}
.qr-img {
  margin: 1rem auto;
  height: 19rem;
  border-radius: var(--radius);
}
.qr-info {
  font-family: var(--font-family);
  text-align: center;
  font-size: var(--font-size);
  padding: 0 1rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 1.5rem;
}
.qr-info h3 {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--clr-darkblue);
}
.qr-info p {
  color: var(--clr-grayblue);
  font-weight: 400;

  font-size: var(--font-size);
}

/* 
====
Credit 
====
*/
.attribution-bottom {
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 27rem;
  transform: translate(-50%, 0%);
}
.attribution {
  padding: 0.5rem 0;
  font-size: 0.9rem;
  text-align: center;
  background: var(--clr-white);
  font-family: var(--font-family);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
.attribution a {
  color: hsl(228, 56%, 48%);
  font-weight: 700;
  transition: all 450ms linear;
}
.attribution a:hover {
  color: hsl(229, 49%, 7%);
}
